.bug-short-overview{
    background-color: #ffffff;
    border-radius:5px;
    width: 300px;
    box-shadow: 2px 0px 4px 0px rgba(182, 182, 182, 0.75);
    padding: 15px;
    padding-bottom:10px;
    cursor:pointer;
    margin-top: 6px;
    position: relative;
}

@keyframes SlideDown { 
    0%{height: 0px;}
    100%{height: 15px;}
}

@keyframes MoveBG { 
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}

.selected-indicator-wrapper.bug-short-info__with-moving-background{
    position: absolute;
    right: 0;
    left:0;
    top:0;
    height: 15px;
    z-index: 1;
    opacity: 0.7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
    background-size: 300% 300%;
    animation: MoveBG 4s ease infinite, SlideDown 0.5s ease-out 1;
}


.labels{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 2;
}