.notifications-popover{
    width: 400px;
    max-height: 350px;
}

.notifications-title{
    padding: 10px;
    font-weight: 400;
    font-size: 20px;
}

.no-notifications{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 15px;
}

.notification-icon{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 25px;
}

.bug-icon{
    background-color: #65499c;
}

.general-icon{
    background-color: #039be5;
}

.notification-content{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor:pointer;
}

.notification-content:hover{
    background-color: #f1f1f1;
}

.notification-content.related-to-bug{
}

.notification-content__general{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notification__bug-id{
    font-size: 0.75rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.375em;
}

.notification__bug-title {
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    padding-left: 3px;
}

.notification__created-time {
    color: grey;
    font-size: 0.775rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1.57;
    letter-spacing: 0.00714em;
    padding-left: 3px;
}